{% extends 'allianceauth/base.html' %}
{% load i18n %}
{% load filters %}
{% block page_title %}{{ alliance }} {% trans "Statistics" %}{% endblock %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

    <div class="col-lg-12">
        <br>
        {% include 'bfat/menu.html' %}
        <h2>{{ alliance }} {% trans "Statistics" %}</h2>
        <h4>{{ month|month }} {{ year }}</h4>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#graphs">Graphs</a></li>
            <li><a data-toggle="tab" href="#members">Corporations</a></li>
        </ul>
        <div class="tab-content">
            <div id="graphs" class="tab-pane fade in active panel-default">
                <div class="panel-body">
                    <ul class="nav nav-pills">
                        <li class="active"><a data-toggle="tab" href="#fatsbyship">{{ term }}s By Ship Type</a></li>
                        <li><a data-toggle="tab" href="#avgfats">Corporation Performance</a></li>
                        <li><a data-toggle="tab" href="#fatsbytime">{{ term }}s By Time</a></li>
                        <li><a data-toggle="tab" href="#fatsbyweek">{{ term }}s By Weekday</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active panel-default" id="fatsbyship">
                            <div class="panel-body">
                                <h3>{{ term }}s By Ship Type</h3>
                                <canvas id="ship-bar-stacked" width="800" height="500"></canvas>
                                <script>
                                var corpShipTypeBarChart = new Chart(document.getElementById('ship-bar-stacked'), {
                                    type: "bar",
                                    data: {
                                        datasets: [{% for set in data_stacked.1 %}
                                                {
                                                  label: '{{ set.0|safe }}',
                                                  backgroundColor: '{{ set.1|safe }}',
                                                  data: {{ set.2 }}
                                                },
                                            {% endfor %}],
                                        labels: {{ data_stacked.0|safe }}
                                    },
                                    options: {
                                        responsive: false,
                                        scales: {
                                            xAxes: [{
                                                stacked: true,
                                                ticks: {
                                                    autoSkip: false
                                                }
                                            }],
                                            yAxes: [{
                                                stacked: true
                                            }]
                                        }
                                    }
                                })
                                </script>
                            </div>
                        </div>
                        <div id="fatsbytime" class="tab-pane fade in panel-default">
                            <div class="panel-body">
                                <h3>{{ term }}s By Time</h3>
                                <canvas id="time-line" width="800" height="500"></canvas>
                                <script>
                                    var timeLineChart = new Chart(document.getElementById("time-line"), {
                                        type: 'line',
                                        data: {
                                            datasets: [{
                                                label: '# of {{ term }}s',
                                                backgroundColor: {{ data_time.2|safe }},
                                                data: {{ data_time.1 }}
                                            }],
                                            labels: {{ data_time.0|safe }}
                                        },
                                        options: {
                                            responsive: false
                                        }
                                    })
                                </script>
                            </div>
                        </div>
                        <div class="tab-pane fade in panel-default" id="fatsbyweek">
                            <div class="panel-body">
                                <h3>{{ term }}s By Weekday</h3>
                                <canvas id="weekday-line" width="800" height="500"></canvas>
                                <script>
                                    var weekdayLineChart = new Chart(document.getElementById('weekday-line'), {
                                        type: 'line',
                                        data:{
                                            datasets: [{
                                                label: '# of {{ term }}s',
                                                backgroundColor: {{ data_weekday.2|safe }},
                                                data: {{ data_weekday.1 }}
                                            }],
                                            labels: {{ data_weekday.0|safe }}
                                        },
                                        options: {
                                            responsive: false
                                        }
                                    })
                                </script>
                            </div>
                        </div>
                        <div class="tab-pane fade in panel-default" id="avgfats">
                            <div class="panel-body">
                                <h3>Average {{ term }}s By Corporation</h3>
                                <canvas id="avgs" width="1000" height="700"></canvas>
                                <script>
                                    var averagesHorizontalBarChart = new Chart(document.getElementById('avgs'), {
                                        type: 'horizontalBar',
                                        data:{
                                            datasets: [{
                                                label: 'Average # of {{ term }}s',
                                                backgroundColor: '{{ data_avgs.2|safe }}',
                                                data: {{ data_avgs.1 }}
                                            }],
                                            labels: {{ data_avgs.0|safe }}
                                        },
                                        options: {
                                            responsive: false,
                                            scales: {
                                                xAxes: [{
                                                    ticks: {
                                                        autoSkip: false
                                                    }
                                                }],
                                                yAxes:[{
                                                    ticks: {
                                                        beginAtZero: true
                                                    }
                                                }]
                                            }
                                        }
                                    })
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade in panel-default" id="members">
                <div class="panel-body">
                    <h3>{{ alliance }} Member Corps</h3>
                    <table class="table" id="member-corps">
                        <thead>
                            <th>Corporation</th>
                            <th>{{ term }}s</th>
                            <th>Avg {{ term }}s</th>
                            <th>Corporation Stats</th>
                        </thead>
                        <tbody>
                            {% for key, value in corps.items %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ value.1 }}</td>
                                    <td>{{ value.2 }}</td>
                                    <td><a class="btn btn-primary" href="/bfat/stats/corp/{{ value.0 }}/{{ month }}/{{ year }}/"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.js" integrity="sha256-l6SU+rVSlkyIcMsqjy0mb6ne/qPpYotdVSFd9vLmV1A=" crossorigin="anonymous"></script>
{% endblock %}
{% block extra_css %}
    {% include 'bundles/datatables-css.html' %}
{% endblock %}
{% block extra_script %}
    $.fn.dataTable.moment = function ( format, locale ) {
        var types = $.fn.dataTable.ext.type;

        // Add type detection
        types.detect.unshift( function ( d ) {
            return moment( d, format, locale, true ).isValid() ?
                'moment-'+format :
                null;
        } );

        // Add sorting method - use an integer for the sorting
        types.order[ 'moment-'+format+'-pre' ] = function ( d ) {
            return moment( d, format, locale, true ).unix();
        };
    };

    $(document).ready(function(){
        $.fn.dataTable.moment( 'MMM. D, YYYY, hh:mm a' );

        $('#member-corps').DataTable();
    });
{% endblock %}
