{% extends 'allianceauth/base.html' %}
{% load i18n %}
{% load bootstrap %}
{% block page_title %}{% trans 'Fleet Activity' %}{% endblock %}

{% block content %}
        <div class="col-lg-12">
            <br>
            {% include "bfat/menu.html" %}
            {% if msg == 200 %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times</span>
                    </button>
                    <h4>Success!</h4>
                    <p>&#9642; {{ term }}Link Created!</p>
                    <p>&#9642; {{ term }}s have been queued, they may take a few mins to show up.</p>
                    <p>&#9642; Make sure to set the fleet name!</p>
                </div>
            {% elif msg == 403 %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times</span>
                    </button>
                    <h4>Not Fleet Boss!</h4>
                    <p>&#9642; {{ term }}Link created. Please upload a flatlist using the flatlist tab to generate {{ term }}s for fleet members.</p>
                    <p>&#9642; Make sure to set the fleet name!</p>
                </div>
            {% elif msg == 404 %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times</span>
                    </button>
                    <h4>Not in Fleet!</h4>
                    <p>&#9642; {{ term }}Link created. The character used to create this {{ term }}Link is not in a fleet. In order to generate {{ term }}s for fleet members, please upload a flatlist using the flatlist tab.</p>
                    <p>&#9642; Make sure to set the fleet name!</p>
                </div>
            {% elif msg == 0 %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times</span>
                </button>
                <h4>Oh No!</h4>
                <p>Something went wrong!</p>
            </div>
            {% elif msg == 202 %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times</span>
                </button>
                <h4>Success!</h4>
                <p>&#9642; Clickable {{ term }}Link Created!</p>
                <p>&#9642; Make sure to give your fleet members the following link to click so that they get credit for this fleet. </p>
                <p>&#9642; <i>Link: <a href="{% url 'bfat:link_click' link.hash %}" class="label label-success">COPY ME!</a></i> </p>
                </div>
            {% elif msg == 1 %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times</span>
                </button>
                <h4>Success!</h4>
                <p>Fleet name successfully changed.</p>
            </div>
            {% elif msg == 2 %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times</span>
                </button>
                <h4>Success!</h4>
                <p>&#9642; {{ term }}s successfully queued from flatlist.</p>
                <p>&#9642; {{ term }}s may take a few mins to show up.</p>
            </div>
            {% elif msg == 3 %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times</span>
                    </button>
                    <h4>Success!</h4>
                    <p>Manual {{ term }} processed.</p>
                </div>
            {% elif msg == 4 %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times</span>
                    </button>
                    <h4>Oh No!</h4>
                    <p>Manual {{ term }} processing failed! The character name you entered was not found.</p>
                </div>
            {% endif %}
            {% if debug %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times</span>
                    </button>
                    <p>{{ debug }}</p>
                </div>
            {% endif %}
            <h2>{% trans "Edit" %} {{ term }}{% trans "Link" %}</h2>
                <div class="col-md-12">
                    <div class="row">
                        <form class="form" role="form" action="" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Name" name="fleet" id="fleet" {% if link.fleet %}value="{{ link.fleet }}" {% endif %}>
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit" name="set_name">Set Name</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="col-md-2">Creator: {{ link.creator.profile.main_character.character_name }}</div>
                        <div class="col-md-2 col-md-offset-8">Time: {{ link.fattime }}</div>
                    </div>
                </div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" class="tab" href="#{{ term }}s">{{ term }}s</a></li>
                <li><a data-toggle="tab" class="tab" href="#flatlist">Flat List</a></li>
                <li><a data-toggle="tab" class="tab" href="#manualfat">Manual {{ term }}</a></li>
            </ul>
            <div class="tab-content">
                <div id="{{ term }}s" class="tab-pane fade in active panel-default">
                    <div class="panel-body">
                         <h4>{{ term }}s for this {{ term }}Link</h4>
                         <table class="table" id="fat-chars">
                             <thead>
                                <th>Character</th>
                                <th>Location</th>
                                <th>Ship Type</th>
                                <th>Utilities</th>
                             </thead>
                             <tbody>
                                {% for fat in fats %}
                                    <tr>
                                        <td>{{ fat.character.character_name }}</td>
                                        <td>{{ fat.system }}</td>
                                        <td>{{ fat.shiptype }}</td>
                                        <td>{% if perms.bfat.delete_fat %}<a class="btn btn-danger" href="{% url 'bfat:fat_delete' link.hash fat.id %}"><span class="glyphicon glyphicon-remove"></span></a>{% endif %}</td>
                                    </tr>
                                {% endfor %}
                             </tbody>
                         </table>
                    </div>
                </div>
                <div id="flatlist" class="tab-pane fade in panel-default">
                    <div class="panel-body">
                        <h4>Flat List Input</h4>
                        <p> Please keep in mind that processing flat lists may take a few minutes.</p>
                        {% if fats|length == 0 %}
                        <form class="form-signin" role="form" action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <textarea class="form-control" name="flatlist" rows="10" id="flatlist" required></textarea>
                            </div>
                            <br />
                            <button class="btn btn-primary btn-block" type="submit" name="submit_flatlist">Submit Flat List</button>
                        </form>
                        {% else %}
                        <form class="form-signin" role="form">
                            <div class="form-group">
                                <textarea class="form-control" name="flatlist" rows="10" id="flatlist" readonly>{{ flatlist }}</textarea>
                            </div>
                            <br />
                            <button class="btn btn-primary btn-block disabled" type="button">Submit Flat List</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                <div id="manualfat" class="tab-pane fade in panel-default">
                    <div class="panel-body">
                        <h4>Manual {{ term }}</h4>
                        <p> Is someone missing from the list of {{ term }}s? Use this form to add them.
                        <br />
                        <strong>Note:</strong> This action is logged!</p>
                        <form class="form" role="form" action="" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" id="character_name" name="character" placeholder="Character Name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="location" name="system" placeholder="System">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="shiptype" name="shiptype" placeholder="Ship Type">
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block" type="submit" name="manual_fat">Add Manual {{ term }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block extra_javascript %}
    {% include 'bundles/datatables-js.html' %}
{% endblock %}
{% block extra_css %}
    {% include 'bundles/datatables-css.html' %}
{% endblock %}
{% block extra_script %}
    $(document).ready(function(){
        $('#fat-chars').DataTable();
    });
{% endblock %}
